# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=nexus_user
DB_PASSWORD=1234
DB_DATABASE=nexus_db

# JWT
JWT_SECRET=nexus_super_secret_jwt_key_change_in_production_2026
JWT_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development
